$backgroundLeft: #222222;
$backgroundRight: #000;

$font: white;

$font2: #c7c7c7;

$boardBackground: white;

$outline: white;

$link: #00bc8c;


//COUNTRY COLORS

$austria: #cc0000;

$england: #0000aa;

$france: #9999ff;

$germany: #000000;

$italy: #00aa00;

$russia: #bb00bb;

$turkey: #bbbb00;

//END COUNTRY COLORS